@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --overpass: 'Overpass', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
}

body {
    font-family: var(--overpass);
    font-size: 16px;
    min-height: 100vh;
    width: 100vw;
}

.hero {
    background: url('./images/bg-pattern-intro-desktop.svg'), linear-gradient(90deg, rgb(255, 143, 112) 10%, rgb(255, 61, 84) 58%);
    height: 600px;
    width: 100%;
    border-bottom-left-radius: 100px;
    color: white;
    background-size: 3100px;
    background-position: 25% -1346px;
}

.header {
    display: flex;
    padding: 59px 150px 0;
    align-items: center;
    gap: 2rem;
    font-family: var(--ubuntu);
}

.logo {
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav a:not(.signupBtn) {
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    opacity: 0.75;
    cursor: pointer;
    transition: opacity .3 ease;
}

.nav a:not(.signupBtn):hover {
    opacity: 1;
    text-decoration: underline;
}

.navbar,
.signup {
    padding-block: 1rem;
}

.signup a {
    margin-inline: 1rem;
}

.navbar a {
    position: relative;
    padding: 1rem;
}

.navbar a:hover i {
    transform: rotateX(180deg);
    top: 35%;
}


.navbar a i {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding-left: .2rem;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    transition: .2s linear;
}

.navbar a i:hover {
    opacity: 1;
    transform: rotateX(180deg);
    top: 35%;
}

.signupBtn {
    background-color: white;
    color: #FF505C;
    padding: 15px 40px;
    border-radius: 28px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    font-family: var(--ubuntu);
    cursor: pointer;
    transition: .3s;
}

.signupBtn:hover {
    background-color: hsl(355, 100%, 74%);
    color: #fff;
}

.show {
    display: flex !important;
}

.dropdown {
    display: none;
    background-color: #fff;
    flex-direction: column;
    align-items: start;
    max-width: 150px;
    border-radius: 10px;
    padding: 0 1rem;
    position: absolute;
    top: 15%;
}

.dropdown a {
    color: hsl(208, 49%, 24%) !important;
    text-decoration: none !important;
    font-size: 14px !important;
    cursor: pointer !important;
    padding: 0 .5rem 1rem .5rem !important;
    font-weight: 400 !important;
}

.dropdown a:hover {
    font-weight: bold !important;
}

#dropdown3 {
    left: 470px;
}

#dropdown2 {
    left: 380px;
}

.hero_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

h1 {
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -1.92px;
    line-height: 98px;
}

.hero_body p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30.64px;
}

.hero_body_buttons {
    margin-top: 3rem;
}

.hero_body_buttons button {
    padding: 15px 25px;
    margin-inline: .5rem;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--ubuntu);
    cursor: pointer;
    transition: .3s;
}

.hero_start_btn {
    color: #FF505C;
    border: none;
}

.hero_start_btn:hover {
    background-color: hsl(355, 100%, 74%);
    color: #fff;
    border: none;
}

.hero_learn_btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.hero_learn_btn:hover {
    background-color: #fff;
    color: hsl(355, 100%, 74%);
}

.design {
    height: 140vh;
    padding-block: 5rem;
    overflow: hidden;
}

.design_title {
    color: #1F3E5A;
    text-align: center;
    margin-bottom: 50px;
    padding-inline: 1rem;
}

h2 {
    font-size: 40px;
    letter-spacing: -1.2px;
    line-height: 61.28px;
}

h3 {
    font-size: 28px;
}

.design_body {
    display: flex;
    gap: 5rem;
}

.info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.design_info {
    margin: 0 0 0 150px;
    width: 40%;
}

.info h3 {
    color: #1F3E5A;
    margin: 0 0 16px;
}

.info p {
    color: #4C5862;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 0;
}

.design_image {
    background: url('./images/illustration-editor-desktop.svg') no-repeat center center/cover;
    height: auto;
    width: 50%;
    background-position: 0;
}

.phone {
    background: url('./images/bg-pattern-circles.svg');
    background-position: -215px -500px;
    background-repeat: no-repeat;
    border-radius: 0 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 115px;
    height: 400px;
    background-color: hsl(231, 33%, 19%);
    color: white;
    z-index: 0;
}

.phone img {
    height: auto;
    width: 40%;
    margin-left: 65px;
    position: absolute;
    left: 0;
}

.phone_info {
    margin-inline: 5rem;
    padding: 2rem;
    height: auto;
    position: absolute;
    right: 0;
    width: 45%;
}

.phone_info p {
    margin-top: 1rem;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
}

.laptop {
    height: 140vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laptop_info {
    margin: 0 100px 0 150px;
    width: 60%;
}

.laptop_image {
    background: url('./images/illustration-laptop-desktop.svg') no-repeat center center/cover;
    height: 100vh;
    width: 80%;
    margin-block: 2rem;
    background-position: -250px center;
}

footer {
    background-color: hsl(240, 10%, 16%);
    border-radius: 0 100px 0 0;
    padding: 70px 0 15px 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footer_body {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

.link {
    display: flex;
    flex-direction: column;
    font-family: var(--ubuntu);
}

.link h4 {
    margin-bottom: 21px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 33px;
}

.link a {
    text-decoration: none;
    color: #fff;
    opacity: 0.75;
    line-height: 33px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.link a:hover {
    text-decoration: underline;
}

.attribution {
    text-align: center;
    color: #fff;
    padding-inline: 1rem;
}

.attribution a {
    color: #FF505C;
}

.menu {
    display: none;
}

hr {
    display: none;
}

@media(max-width:1024px) {

    .hero {
        background-size: 200%;
        background-position: -175px 50%;
    }

    .hero_body_title {
        font-size: 48px;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .header {
        justify-content: space-between;
        padding: 60px 60px 0;
    }

    .nav {
        display: block;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }

    .nav.show-nav {
        display: block;
        width: 70%;
        min-height: auto;
        background-color: white;
        padding: 0 2rem 1rem 2rem;
        position: absolute;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        transition: .3s;
    }

    .nav.show-nav a {
        display: block;
        padding: 1rem;
        font-size: 18px;
        color: #1F3E5A;
        opacity: 1;
    }

    .nav.show-nav a:hover {
        text-decoration: none;
    }

    .nav.show-nav a i {
        color: hsl(355, 88%, 46%);
        font-weight: bolde;
    }

    .nav.show-nav .navbar a {
        position: relative;
        width: 100%;
    }

    .nav.show-nav .dropdown {
        position: relative;
        background-color: #eee;
        border-radius: 0;
        left: 50%;
        width: 200%;
        transform: translateX(-50%);
    }

    .nav.show-nav .dropdown a {
        text-align: center !important;
        font-weight: bold !important;
        font-size: 18px !important;
    }

    .nav.show-nav #dropdown1 {
        transform: translateX(-50%);
    }

    .nav.show-nav #dropdown2 {
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
    }

    .nav.show-nav #dropdown3 {
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
    }

    .nav.show-nav .signup {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav.show-nav .signupBtn {
        width: 150px;
        background: linear-gradient(90deg, #FF8F71 10%, #FF3E55 58%);
        color: #fff;
    }

    .nav.show-nav hr {
        display: block;
        border: .1px solid rgba(128, 128, 128, 0.586);
    }

    .design {
        height: 210vh;
    }

    .design_body {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }

    .design_info {
        margin: 0;
        width: 90%;
        text-align: center;
        height: auto;
    }

    .info p {
        text-align: center;
    }

    .design_image {
        background: url('./images/illustration-editor-mobile.svg') no-repeat center/contain;
        height: 500px;
        width: 600px;
    }

    .phone {
        background-position: 50% -500px;
        border-radius: 0 100px;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .phone img {
        height: auto;
        width: 480px;
        position: absolute;
        left: 50%;
        margin-left: 0;
        margin-bottom: 80%;
        transform: translateX(-50%);
    }

    .phone_info {
        margin-inline: 5rem;
        padding: 2rem;
        margin-top: 20%;
        height: auto;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .laptop {
        flex-direction: column;
        height: auto;
        gap: 0;
    }

    .laptop_image {
        background: url('./images/illustration-laptop-mobile.svg') no-repeat center center/contain;
        width: 500px;
        height: 360px;
    }

    .laptop_info {
        width: 80%;
        margin: 0 2rem 5rem 2rem;
        text-align: center;
        height: auto;
    }
}

@media(max-width:650px) {
    .hero {
        background-size: 200%;
        background-position: -100px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .header {
        padding: 45px 30px 0;
    }

    .design {
        height: 180vh;
    }

    .design_image {
        width: 400px;
        height: 330px;
    }

    .phone img {
        width: 400px;
        height: auto;
        margin-bottom: 100%;
    }

    .phone_info {
        margin-top: 50%;
    }
}

@media(max-width:475px) {
    .hero_body {
        text-align: center;
        height: auto;
        margin-top: 20%;
        margin-inline: 2rem;
    }

    .hero_body_buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h1 {
        line-height: 50px;
    }

    .design_image {
        width: 250px;
        height: 200px;
    }

    .laptop_image {
        width: 350px;
    }

    .design {
        height: 200vh;
    }

    .phone {
        height: auto;
    }

    .phone img {
        width: 100%;
        margin-bottom: 150%;
    }


    .footer_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .link h4 {
        margin-bottom: 10px;
    }
}

@media(max-width:330px) {
    .phone_info {
        margin-top: 60%;
    }

    .phone_info h2 {
        font-size: 30px;
        line-height: normal;
    }

    .phone img {
        margin-bottom: 180%;
    }

    .design {
        height: 210vh;
    }

    .nav.show-nav {
        width: 85%;
    }
}