@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --overpass: 'Overpass', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
}

body {
    font-family: var(--overpass);
    font-size: 16px;
    min-height: 100vh;
    width: 100vw;
}

.hero {
    background: url('./images/bg-pattern-intro-desktop.svg'), linear-gradient(90deg, rgb(255, 143, 112) 10%, rgb(255, 61, 84) 58%);
    height: 600px;
    width: 100%;
    border-bottom-left-radius: 100px;
    color: white;
    background-size: 3100px;
    background-position: 25% -1346px;
}

.header {
    display: flex;
    padding: 59px 150px 0;
    align-items: center;
    gap: 2rem;
}

.logo {
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav a:not(.signupBtn) {
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    opacity: 0.75;
    cursor: pointer;
    transition: opacity .3 ease;
}

.nav a:not(.signupBtn):hover {
    opacity: 1;
}

.navbar,
.signup {
    padding-block: 1rem;
}

.navbar a,
.signup a {
    margin-inline: 1rem;
}

.signupBtn {
    background-color: white;
    color: #FF505C;
    padding: 15px 40px;
    border-radius: 28px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    font-family: var(--ubuntu);
    cursor: pointer;
    transition: .3s;
}

.signupBtn:hover {
    background-color: hsl(355, 100%, 74%);
    color: #fff;
}

.hero_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

h1 {
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -1.92px;
    line-height: 98px;
}

.hero_body p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30.64px;
}

.hero_body_buttons {
    margin-top: 3rem;
}

.hero_body_buttons button {
    padding: 15px 25px;
    margin-inline: .5rem;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--ubuntu);
    cursor: pointer;
    transition: .3s;
}

.hero_start_btn {
    color: #FF505C;
    border: none;
}

.hero_start_btn:hover {
    background-color: hsl(355, 100%, 74%);
    color: #fff;
    border: none;
}

.hero_learn_btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.hero_learn_btn:hover {
    background-color: #fff;
    color: hsl(355, 100%, 74%);
}